<template>

    <div class="container">

        <div class="images">

        </div>
        <div class="upload">
            <table width="100%">
                <tr>
                    <td><img :src="image" class="img-responsive"></td>
                    <td><input type="file" v-on:change="onFileChange" class="form-control"></td>
                    <td><button class="btn btn-success btn-block" @click="upload">Upload</button></td>
                </tr>
            </table>
        </div>
    </div>

</template>
<style scoped>
    img{
        max-height: 30px;
    }
</style>
<script>
    export default{
        props: ['plugin'],
        data(){
            return {
                image: ''
            }
        },
        mounted () {
            console.log(this.plugin)
        },
        methods: {
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            upload(){
                axios.post('/api/banner/upload',{image: this.image, plugin: this.plugin}).then(response => {
                     console.log(response.data);
                }).then(function () {
                    location.reload();
                    console.log('reloaded');
                });
            }
        }
    }
</script>