<template>

    <div class="container">

        <div class="images row">
            <div class="col-md-3" v-for="(screenshot) in screenshots" :key="screenshot.id" >
                <div class="img-wrap">
                    <span class="close">&times;</span>
                    <img :src="screenshot.url">
                </div>

            </div>
        </div>
        <div class="upload row">
            <table width="100%">
                <tr>
                    <td><img :src="image" class="img-responsive"></td>
                    <td><input type="file" v-on:change="onFileChange" class="form-control"></td>
                    <td><button class="btn btn-success btn-block" @click="upload">Upload</button></td>
                </tr>
            </table>
        </div>
    </div>

</template>
<style scoped>
    img{
        max-height: 100%;
        max-width: 100%;
    }
   .img-wrap {
    position: relative;
    display: inline-block;
    border: 1px black solid;
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}

</style>
<script>
    export default{
        props: ['plugin'],
        data(){
            return {
                screenshots: [],
                image: ''
            }
        },
        mounted () {
            console.log(this.plugin);
            axios.get('/api/' + this.plugin +'/images',{image: this.image, plugin: this.plugin}).then(response => {
                     console.log(response.data);
                     this.screenshots = response.data
                });
        },
        methods: {
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            upload(){
                axios.post('#',{image: this.image, plugin: this.plugin}).then(response => {
                     console.log(response.data);
                }).then(function () {
                    location.reload();
                    console.log('reloaded');
                });
            }
        }
    }
</script>